html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    min-width: 240px;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
/*    padding-left: 15px;*/
/*    padding-right: 15px;*/
}


.container {
    max-width: 1140px;
/*    margin: 0 auto;*/
/*    padding-left: 15px;*/
/*    padding-right: 15px;*/
}

.header {
    background-color: #000;
    color: #fff;
}


.adress {
    padding: 0;
    text-align: center;
    padding-top: 18px;    
    font-size: 22px;
}

.adress div {
    font-size: 16px;
}

.adress .work_time {
    font-size: 22px;
    margin-bottom: 7px;
}

.adress img {
    margin-right: 10px;
}

.phone {
    padding: 0;
    text-align: center;
    padding-top: 18px;
    font-size: 22px;
}

.phone a {
    color: #fff;
    text-decoration: none;
}

.phone div span{
    color: #72edf7;
}

.phone .call_back span {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.phone .call_back span:hover {
/*    text-decoration: dashed;*/
    text-decoration: none;
    color: #fff;
    border-bottom: 1px dashed #fff;
}

.phone img {
    margin-right: 10px;
/*    position: relative;*/
}

.basket_items {
    background-color:  #fff;
    color: #000;
    padding: 10px 20px;
}

.basket_items div a {
    display: none;
    text-decoration: none;
}

.basket a:hover {
    text-decoration: none;
}

.basket_items img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.basket_items span {
    font-size: 24px;
    font-weight: bold;
}


.basket {
   /* margin-bottom: 10px 0; */
   /* margin: 10px 0px; */
    
   /* padding: 10px 0 0; */
}



/* nav */

/*
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
        z-index: 10000;
    }
*/

.hamburger {
    display: none;
    position: relative;
    background: #72edf7;
    padding: 10px 19px;
    cursor: pointer;
    
}

.hamburger_line {
    position: relative;
    width: 28px;
    border-right: 2px;
    height: 3px;
    margin: 6px 0;
    background: #fff;
}

.navigation {
    background-color: #000;
    color: #fff;
    font-size: 18px;
}

.navigation li {
    list-style: none;
}

.navigation ul {
    margin-bottom: 0;
}

.ulList {
    display: flex;
    justify-content: space-between;
/*    justify-content: space-around;*/
/*    justify-content: center;*/
    align-items: center;
}

.ulList li{
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 0px 10px;
}

.navigation li a {
    color: #fff;
    align-items: center;
    text-decoration: none;
}

.navigation li:hover {
    border-bottom: 5px solid #72edf7;
    margin-bottom: -5px;
}


.navigation li a img{
    margin-right: 10px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
/*    font-weight: bold;*/
    font-size: 18px;
}

.navigation .request  {
    background-color: #72edf7;
    padding: 15px 0;
/*    padding: 14px 0;*/
/*    display: flex;*/
    text-align: center;
    width: 100%;
}

.navigation .request img {
    margin-right: 10px;
}

.logo_mobile {
    display: none;
}

.mobile {
    display: none;
}

/* banner */
/* slider */

.banner {
    padding: 40px 0;
}

/* 
.promo {
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    color: #fff;
    max-width: 100%;
    padding: 60px 50px 80px;
} */

.mySlides {
    position: relative;
}

.mySlides_content {
    padding: 40px;
    position: absolute;
    top:0;
    color: #fff;
}

.mySlides_content h1 {
/*    font-size: 45px;*/
    font-size: 4.5rem;
    margin-bottom: 1px;
    text-transform: uppercase;
}

.mySlides p {
    font-size: 23px;
    margin-bottom: 50px;
}

.mySlides button {
    background-color: transparent;
    border: 2px solid #72edf7;
    padding: 10px 35px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.mySlides button:hover {
    background-color: #72edf7;
}

/*

.sushi_banner {
    background-image: url("../images/back.png");
    height: 350px;
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: top left;
}
*/

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 75%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #72edf7;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.prev {
    left: 45%;
}

.next {
  right: 40%;
/*  border-radius: 3px 0 0 3px;*/
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
/*  background-color: rgba(0,0,0,0.8);*/
      border: 3px solid #72edf7;
    
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  margin: 0 2px;
  background-color: #fff;
/*  border-radius: 50%;*/
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots {
    position: relative;
    top: -50px;
}

.dot_active, .dot:hover {
  background-color: #72edf7;
    border: 1px solid #fff;
}


/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* sushi_catalog */

.catalog {
    padding: 40px 0;   
}

.menu_catalog li{
    background-color: #000;
/*    border: 2px solid #fff;*/
    border-bottom: 6px solid #fff;
    color: #fff;
    font-size: 18px;
/*    height: 55px*/
}

.menu_catalog li:last-child img{
    padding: 15px 10px;
}

.menu_catalog a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.menu_catalog li:hover{
    background-color: #72edf7;
}

.menu_catalog img{
    padding: 12px 20px 12px 10px ;
}


.catalog_nav {
    padding: 0 0 20px 0;
    font-size: 16px;
}

.catalog .row{ 
/*    border: 1px solid red;*/
}


.catalog_roll_element {
    text-align: center;
    border: 1px solid #72edf7; 
    padding: 20px 20px;
/*    margin: 10px;*/
    margin-bottom: 20px;
/*    margin: 10px;*/
/*    box-sizing: content-box;*/
/*    box-sizing: border-box;*/
}

.catalog_roll_element img {
    max-width: 100%;
}

.catalog_roll_element h4{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
}

.catalog_roll_element p {
     margin-bottom: 90px;   
}

.catalog_roll_element .roll_params{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
}

.catalog_roll_element button{
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffd907;
    border: none;
}

.roll_params div:first-child div:nth-child(1) {
/*    display: none;*/
    border-bottom: 1px solid #72edf7;
}

.roll_params .price{
    display: flex;
    justify-content: flex-end;
    color: #72edf7;
    align-items: center;    
    padding: 0;
    font-size: 18px;
}

/* okidoki_zakaz */
/* okidoki_order */
.order .catalog_nav {
    padding: 35px 0;
}

.your_order .order_border{
    border: 1px solid #72edf7;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 20px;
}

.your_order .order_pos h4 {
    /* display: none; */
    margin-bottom: 20px;
}

.your_order label h4{
    width: 100%;
/*    padding: 0px;*/
    font-size: 18px;
    /* margin-bottom: 20px; */
}


.order_position {
    border: 1px solid #dcdcdc;
    display: flex;
    align-items: center;
    width: 40%;
/*    width: 50%;*/
    padding: 5px 15px;
    margin-bottom: 10px;
}

.order_position .order_image {
    max-width: 100%;
    margin-right: 20px;
}

.order_position span{
    font-size: 16px;
    padding: 0;
    margin: 0;
    /* font-weight: bold; */
}

.order_position p{
    font-size: 14px;
    color: #575757;
}

.order_position input {
    width: 25%;
}

.order_position .order_params {
    display: flex;
    align-items: center;
    
}

.order_params .price {
    margin-right: 20px;
    color: #72edf7;
    font-size: 14px;
}

.your_order h4{
    padding: 0;
    margin: 0;
}

.your_order input[type="text"], .your_order input[type="phone"]{
    padding: 10px 15px;
    font-size: 16px;
/*    margin-right: 20px;*/
    margin-bottom: 20px;
/*    width: 25%;*/
    width: 100%;
    font-weight: bold;
}

.your_order input[type="checkbox"], .your_order input[type="radio"]{
    margin-right: 10px;
/*    margin-right: 20px;*/
}

.your_order input[type="radio"]:last-child{
/*    margin-left: 20px;*/
/*    margin-left: 40px;*/
}

.your_order #adress {
/*    width: 50%;*/
/*    width: 52%;*/
    height: 100px;
/*    width: 650px;*/
/*    margin-right: 0;*/
}


#adress {
/*    width: 100%;*/
}

.your_order .payment{
    font-size: 18px;
    font-weight: bold;
}

.payment_type{
    padding: 0;
    margin: 0;
}

.your_order input[type="button"] {
    margin: 20px 0 160px;
    padding: 12px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #ffd907;
    border: none;
}


/* sushi type */

.sushi_type {
    text-align: center;
    display: flex;
    justify-content: center;
/*    justify-content: space-between;*/
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
/*    position: relative;*/
}

.sushi_type a{
    cursor: pointer;
    color: #fff;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.sushi_type h5 {
    position: absolute;
    background-color: #72edf7;
    padding: 20px 30px;
    top: 100px;
    left: 0px;
    z-index: 1000;
/*    width: inherit;*/
}

.sushi_type a img {
    max-width: 100%;
}

.sushi_image {
    max-width: 100%;
}



/* delivery */

.delivery h1{
    text-align: center;
    margin-bottom: 35px;
    font-size: 34px;
} 

.delivery .wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.delivery label {
    /* display: none; */
    border: 0px solid transparent;
}


/* our adwantages */

.adwantages {
    text-align: center;
    padding: 50px 0;
}

 
.adwantages img{
/*    width: 74px;*/
    width: auto;
    height: 74px;
/*    max-width: 72px;*/
}

/* footer */
.footer .wrapper {
    padding: 35px 0;
}


.footer {
    background-color: #000;
    color: #fff;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer .social {
/*    display: flex;*/
/*    justify-content: center;*/
}

.footer .social img{
    margin-right: 10px;
}


.footer_nav li{
    
}

.application p {
/*    margin-bottom: 20px;*/
}

.online_store  a{
    margin-bottom: 15px;
}

.online_store a{
    display: block;
}

@media (max-width: 1200px) {
     .catalog_roll_element {
        margin: 10px;
    }
    
    .your_order {
        padding: 0 10px;
        margin: 5px;
    }
    
    .catalog_nav {
        margin: 0px 15px;
    }
}

@media (max-width: 1010px) {
    .hamburger {
        display: block;
        width: 70px;
    }
    
    .ulList {
        display: none;
        width: 50%;
    }
    
    .ulList li {
        padding: 16px 20px;
    }
    
    .catalog_roll_element {
/*        padding: 10px;*/
/*        margin: 10px;*/
    }
    
    .order_position {
        width: 50%;
     } 
}

@media (max-width: 900px) {
    .catalog_nav {
/*        padding: 10px 20px;*/
        padding-left: 10px;
    }
    
    .order_position {
       width: 50%;
    } 
    
    .your_order input[type="text"]{
/*        width: 33%;*/
    }
    
    .your_order input[type="phone"]{
/*        width: 33%;*/
    }
}

@media (max-width: 800px) {
    .header_logo {
        text-align: center;
        display: none;
    }
    
    .hamburger {
        width: 100%;
        background-color: #000;
    }
    
    .phone {
        width: 50%;
        padding-top: 70px;
        padding-bottom: 20px;
    }
    
    .adress {
        padding-top: 70px;
        width: 50%;
        padding-bottom: 20px;
    }
    
    .basket {
        display: none;
    }
    
    .hamburger:hover {
/*        color: #72edf7;*/
    }
    
    .ulList {
        background-color: #000;
        position: absolute;
        width: 250%;
        width: 400%;
/*        width: auto;*/
    }
   
    .navigation .col-sm-9 {
/*        display: none;*/
/*        position: absolute;*/
        width: 25%;
/*        width: 100%;*/
/*        width: 34%;*/
/*        width: 100px;*/
        margin: 0;
        padding: 0;
    }
    
    .navigation .col-sm-3 {
/*        display: none;*/
        width: 20%;
        padding: 0;
    }
    
    .navigation a {
/*        display: none;*/
        text-decoration: none;
    }
    
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
        z-index: 10000;
    }
   
    .navigation .row {
/*        width: 100%;*/
        height: 55px;
        display:flex;
        justify-content: center;
        justify-content: space-between;
    }
    
    
    .logo_mobile {
        display: block;
/*        display: flex;*/
        justify-content: space-around;
        text-align: center;
        width: 50%;
/*        width: auto;*/
    }
    
    .logo_mobile img {
        height: 55px;
    }
    
    .navigation .request {
        margin: 0;
    }
    
    .desktop {
        display: none;
    }
    
    .mobile {
        padding: 5px 20px;
        display: flex;
/*        border: 1px solid white;*/
        display: block;
        display: inline;
        align-items: center;
        text-align: center;
    }
    
    .order_position {
        width: 75%;
/*        width: 55%;*/
    }
    
    .footer {
        padding: 0 20px;
    }
    
    .footer_logo {
        text-align: center;
        margin-bottom: 40px;
    }
    
    
    .footer_nav {
        display: flex;
        justify-content: center;
    }
    
    .footer_menu {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .footer .social {
        display: flex;
        justify-content: center;
    }
    
    .footer .social img{
        margin: 0;
    }
    
    .application {
        text-align: center;
    }
    
}

@media (max-width: 768px) {

    .your_order input[type="text"]{
/*        width: 45%;*/
    }
    
    .your_order input[type="phone"]{
/*        width: 45%;*/
    }
}

@media (max-width: 650px) {
     .order_position {
        width: 75%;
    }
}

@media (max-width: 600px) {
    .promo {
        /* padding: 40px; */
    }
    
    .promo p {
        margin-bottom: 20px;
    }
    
    .promo button {
        margin-bottom: 20px;
    }
    
    .our_adwantage {
        width: 100%;
    }
    
    .dots {
        top: -30px;
    }
    
    .catalog_roll {
        width: 100%;
    }
    
    .your_order input[type="text"], .your_order input[type="phone"], .your_order #adress{
/*        width: 75%;*/
/*        width:50%;*/
    }
    
    .delivery .user_data {
        width: 100%;
    }

}

@media (max-width: 508px) {
    #count {
        display: none;
    }
    
    .mobile span {
/*        display: none;*/
        color: #000;
        position: absolute;
        right: 20px;
        right: 30%;
        top: 7px;
    }
    
    .adress {
        width: 100%;
    }
    
    .phone {
        padding: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .promo h1 {
        font-size: 24px;
        font-size: 3.6rem;
    }
    
    .sushi_type {
        position: relative;
/*        width: 100%;*/
    }
    
    .sushi_type h5{
/*        width: 100%;*/
        margin: 0;
        top: 55%;
/*        position: relative;*/
        padding: 20px 10px;
    }
    
    .order_position {
        width: 100%;
    } 
    
}

@media (max-width: 425px) {
    .promo {
        text-align: center;
        /* padding: 10px 30px; */
    }
    
    .promo p{
/*        text-align: left;*/
        font-size: 18px;
        margin-bottom: 20px;
    }
    
     .promo button{
        margin-bottom: 40px;
    }
    
    .dots {
        top: -30px;
    }
    
    .sushi_type {
        position: relative;
        width: 100%;
    }
    
     .delivery {
/*        text-align: center;*/
    }
    
}

@media(max-width: 375px) {
    .footer_nav {
        padding: 0 70px;
    }
}


.active {
    display: block;
/*    display: inline-block;*/
/*    width: 100%;*/
}

